/dist
/src-capacitor
/src-cordova
/.quasar
/node_modules
.eslintrc.js
/quasar.config.*.temporary.compiled*
/src-electron
/src-pwa
.firebase
/assets
/src/assets/smtp/smtp.js
/src/assets/smtp/
src/assets/smtp/smtp.js
src/assets/smtp/
node_modules
dist
src/stores/store-flag.d.ts
