// app global css in SCSS form
// @font-face {
//     font-family: 'iosevka';
//     src: url(fonts/iosevka/Iosevka-Regular.ttc)
// }

// @font-face {
//     font-family: 'iosevka-light';
//     src: url(fonts/iosevka/Iosevka-Light.ttc)
// }

@font-face {
  font-family: 'metrophobic';
  src: url(fonts/Metrophobic-Regular.ttf);
}

@font-face {
  font-family: 'victormono';
  src: url(fonts/VictorMono-Regular.ttf);
}

.main-layout {
  font-family: 'metrophobic';
}

body {
  font-family: 'metrophobic';
}

.bg-tertiary {
  background: $tertiary;
}

.text-tertiary {
  color: $tertiary;
}

.bg-standoutBackground {
  background: $standoutBackground;
}

.text-standoutBackground {
  color: $standoutBackground;
}

.bg-cancel {
  background: $cancel;
}

.text-cancel {
  color: $cancel;
}

.bg-fuchsia {
  background: $fuchsia;
}

.text-fuchsia {
  color: $fuchsia;
}

.round-btn {
  border-radius: 12px;
}

.round-panel {
  border-radius: 12px;
}

.notify-custom-css {
  border-radius: 12px;
  margin-top: 70px;
}

.q-card {
  border-radius: 12px !important;
}

.q-toggle__track {
 height: 24px;
 border-radius: 13px;
 margin-top: -6px;
 width: 37px;
}

.q-toggle__thumb {
  height: 18px;
  width: 18px;
}

.q-toggle--dense .q-toggle__inner--truthy .q-toggle__thumb {
  left: 0.4em;
}

.q-toggle--dense .q-toggle__thumb {
 top: 0;
 left: 2.5px;
}

.q-field--filled .q-field__control {
  padding: 0 12px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
  border-bottom: none;
  box-shadow: none;
}

.q-field--filled .q-field__control:focus {
  border-bottom: none;
  box-shadow: none;
}

.q-message-text--received {
    border-radius: 12px 12px 12px 0;
}

.q-message-text--sent {
    color: #e0e0e0;
    border-radius: 12px 12px 0 12px;
}

.q-date__header {
    border-top-left-radius: inherit;
    color: #fff;
    background-color: transparent;
    padding: 16px;
}

.q-item {
    min-height: 48px;
    padding: 8px 10px;
    color: inherit;
    transition: color 0.3s, background-color 0.3s;
}

.q-uploader__list {
  position: relative;
  padding: 0px;
  min-height: 60px;
  flex: 1 1 auto;
  border-radius: 0;
}

.q-drawer--left.q-drawer--bordered {
  border-right: .0.1px solid #000000 !important;
}


/* Customize scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #747373;
  border-radius: 10px;
}

.q-drawer--mini {
  width: 60px;
}

// .fc-theme-standard td, .fc-theme-standard th {
//   border: .1px solid rgba(255, 255, 255, 0.14)!important;
// }

// .fc-theme-standard .fc-scrollgrid {
//   border: transparent;
// }

@for $i from 1 through 100 {
  .m-#{$i} {
    margin: #{$i}px;
  }

  .p-#{$i} {
    padding: #{$i}px;
  }

  .mx-#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }

  .px-#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }

  .my-#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }

  .py-#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }

  .mt-#{$i} {
    margin-top: #{$i}px;
  }

  .pt-#{$i} {
    padding-top: #{$i}px;
  }

  .mr-#{$i} {
    margin-right: #{$i}px;
  }

  .pr-#{$i} {
    padding-right: #{$i}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }

  .ml-#{$i} {
    margin-left: #{$i}px;
  }

  .pl-#{$i} {
    padding-left: #{$i}px;
  }
}

$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;
@each $i in $weights {
    .f-w-#{$i} {
        font-weight: #{$i};
    }
}

@for $i from 0 through 100 {
    .gap-#{$i} {
        gap: #{$i}px;
    }

    .height-#{$i} {
      height: #{$i}#{'%'};
    }
}

.dbg {
  border: .1px dashed rgb(184, 58, 58);
}

.debug {
  border: .1px dashed rgba(4, 250, 230, 0.5);
}

.debug1 {
  border: .1px dashed rgb(255, 127, 80, .5);
}

.debugcontainer {
  border: .1px dashed rgba(162, 255, 80, 0.5);
}