// app global css in SCSS form
// @font-face {
//     font-family: 'iosevka';
//     src: url(fonts/iosevka/Iosevka-Regular.ttc)
// }

// @font-face {
//     font-family: 'iosevka-light';
//     src: url(fonts/iosevka/Iosevka-Light.ttc)
// }

@font-face {
    font-family: 'metrophobic';
    src: url(fonts/Metrophobic-Regular.ttf)
}

@font-face {
    font-family: 'victormono';
    src: url(fonts/VictorMono-Regular.ttf)
}

.main-layout {
    font-family: 'metrophobic';
}

body {
    font-family: 'metrophobic';
}

.bg-tertiary {
    background: $tertiary;
}

.text-tertiary {
    color: $tertiary;
}

.bg-standoutBackground {
    background: $standoutBackground;
}

.text-standoutBackground {
    color: $standoutBackground;
}

.bg-cancel {
    background: $cancel;
}

.text-cancel {
    color: $cancel;
}

.bg-fuchsia {
    background: $fuchsia;
}

.text-fuchsia {
    color: $fuchsia;
}

.round-btn {
    border-radius: 12px;
}

.round-panel {
    border-radius: 12px;
}

.notify-custom-css {
    border-radius: 12px;
    margin-top: 70px;
}

.q-card {
    border-radius: 12px !important;
}

.q-toggle__track {
    height: 22px;
    border-radius: 14px;
    margin-top: -3px;
}

.q-toggle__thumb {
    height: 22px;
    width: 22px;
}

.q-toggle__inner .q-toggle__inner--truthy {
    font-size: 40px;
    width: 40px;
    min-width: 2em;
    height: 1em;
    padding: 0.350em 0.4em;
    -webkit-print-color-adjust: exact;
}

.q-field--filled .q-field__control {
    padding: 0 12px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    border-bottom: none;
    box-shadow: none;
}

.q-field--filled .q-field__control:focus {
    border-bottom: none;
    box-shadow: none;
}